@model TinyBank.Core.Services.Options.SearchCardCheckoutOption
@{
    ViewData["Title"] = "Card Details";
}
<div class="text-center js-card-form">
    <h1 class="display-4">Card Details</h1>
</div>

<div class="js-result"></div>

<div class="js-card-form">

    <form action="/card" method="get">
        <div>
            <label>Card Number:</label>
            <input class="form-control js-cardnumber"
                   name="cardNumber"
                   value="" />
        </div>
        <div>
            <label>Expiration Month:</label>
            <input class="form-control js-expmonth"
                   name="expMonth"
                   value="" />
        </div>
        <div>
            <label>Expiration Year:</label>
            <input class="form-control js-expyear"
                   name="expYear"
                   value="" />
        </div>
        <div>
            <label>Amount:</label>
            <input class="form-control js-amount"
                   name="amount"
                   value="" />
        </div>
        <hr />
        <button type="button" class="btn btn-primary js-pay-card">
            Make the payment
        </button>
    </form>

</div>